# Environnement virtuel
venv/
.venv/
env/

# Cache Python
**/__pycache__/
*.py[cod]
*$py.class

# Configuration VS Code
.vscode/

# Données volumineuses ou sensibles
*.csv
*.xlsx
.env
.streamlit/secrets.toml